.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #2516ff 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #2516ff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
    position:absolute;
    left: 50%;
    top: 50%;

}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}